.card {
  width: 290px;
  box-shadow: 2px 8px 21px -2px #777777;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.cardName {
  padding: 0px;
  font-size: 24px;
  margin: 0px 10px 0px 0px;
}
.cardInfo {
  text-align: center;
}

